{% extends '/base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>base urls</th>
                    <th>exclude</th>
                    <th>found urls</th>
                    <th>crawled urls</th>
                    <th>200 responses</th>
                    <th>300 responses</th>
                    <th>400 responses</th>
                    <th>500 responses</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.baseUrls|join("\n")|nl2br }}</td>
                        <td>{{ item.excludeUrls|join("\n")|nl2br }}</td>
                        <td>{{ item.urlCount }}</td>
                        <td>{{ item.crawledUrlCount }}</td>
                        <td>{{ item.result200 }}</td>
                        <td>{{ item.result300 }}</td>
                        <td>{{ item.result400 }}</td>
                        <td>{{ item.result500 }}</td>
                        <td><a href="{{ path('project', {project: item.id}) }}">details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}