{% extends '/base.html.twig' %}

{% block body %}
    <div class="container">
        <style>
            .url-table {
                table-layout: fixed;
            }
            .url-table__head {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                background-color: white;
            }
            .url-table__row {
                line-height: 1.5rem;
                height: {{ 0.75 * 2 + 1.5 * 2 }}rem;
                contain: strict;
            }
            .url-table__url {
                width: 100%;
                word-break: break-all;
            }
            .url-table__status {
                width: 5rem;
            }
            .url-table__date {
                width: 7rem;
            }
        </style>

        <a href="{{ path('project_list') }}" class="btn btn-default">back to overview</a>

        {% for status,urls in statusUrls %}
            <h2>{{ urls|length }} urls with status {{ status }}</h2>
            <table class="table url-table">
                <thead class="url-table__head">
                    <tr>
                        <th class="url-table__url">url</th>
                        <th class="url-table__status">status</th>
                        <th class="url-table__date">last crawl</th>
                        <th class="url-table__date">next crawl</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for url in urls|slice(0, 100) %}
                        <tr class="url-table__row">
                            <td class="url-table__url">
                                <a href="{{ url.value }}" class="url" target="_blank" rel="noopener">
                                    {%- if url.value|length > 100 -%}
                                        {{ url.value|slice(0, 97) }}…
                                    {%- else -%}
                                        {{ url.value }}
                                    {%- endif -%}
                                </a>
                            </td>
                            <td class="url-table__status">{{ url.lastStatus }}</td>
                            <td class="url-table__date">
                                {%- if url.lastCrawl -%}
                                    {{ url.lastCrawl|date('d.m.y H:i:s') }}
                                {%- endif -%}
                            </td>
                            <td class="url-table__date">
                                {%- if url.nextCrawl -%}
                                    {%- if url.nextCrawl|date('U') < 'now'|date('U') -%}
                                        queued
                                    {%- else -%}
                                        {{ url.nextCrawl|date('d.m.y H:i:s') }}
                                    {%- endif -%}
                                {%- else -%}
                                    null
                                {%- endif -%}
                            </td>
                        </tr>

                    {%- endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}